{% macro monthBlock(events, month, year) %}
    <div class="col-xl-4 mb-xl-0 my-3">
        <div class="card">
            <div class="card-header p-2 ps-3">
                <div class="d-flex justify-content-between p-3">
                    <h3 class="text-2xl mb-0">{{ month ~ ' / ' ~ year }}</h3>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            {% for event in events %}
                {{ _self.monthBlockRow(event, year, month) }}
                <hr class="dark horizontal my-0">
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro monthBlockRow(event, year, month) %}
    <div class="d-flex flex-column">
        <div class="px-2 py-3 ps-3 d-flex flex-row justify-content-between align-items-center">
            {% set currentDate = "now"|date("Y-m-d") %}
            {% set customDate = date(year ~ '-' ~ month ~ '-' ~ event.date.format("d"))|date("Y-m-d") %}
            <div>
                {% if customDate < currentDate %}
                    {% set textColor = "text-black-50" %}
                {% elseif customDate is same as currentDate %}
                    {% set textColor = "text-dark-blue" %}
                {% else %}
                    {% set textColor = "text-dark" %}
                {% endif %}
                <h3 class="mb-0 text-2xl {{ textColor }}">
                    {% if event.type.value is same as "yearly" %}
                        {% set yearDiff = customDate|date("Y") - event.date|date("Y") %}
                        {{ event.name }} <span class="text-black-50">{{ yearDiff }}</span>
                    {% else %}
                        {{ event.name }}
                    {% endif %}
                </h3>
                <p class="mb-0 text-muted">{{ customDate|date("d. m. Y") }}</p>
            </div>
        </div>
    </div>
{% endmacro %}