{% from '/common/macros/menu_item.html.twig' import menu_item %}

<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-radius-lg fixed-start ms-2 bg-white my-2" id="sidenav-main">
    <div class="sidenav-header">
        <a class="navbar-brand px-4 py-3 m-0" href="#">
            <span class="ms-1 text-sm text-dark">CRM Asistent</span>
        </a>
    </div>
    <hr class="horizontal dark mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
            {{ menu_item('Úkoly', path('task_list'), selectedMenuItem is same as 'tasks') }}
            {{ menu_item('Poznámky', path('note_topic_list'), selectedMenuItem is same as 'notes' ) }}
            {{ menu_item('Denní poznámky', path('daily_notes'), selectedMenuItem is same as 'daily_notes' ) }}
            {{ menu_item('Kalendář', path('calendar'), selectedMenuItem is same as 'calendar' ) }}
            {{ menu_item('Rozpočet', path('bank_account_transactions'), selectedMenuItem is same as 'bank_account_transactions') }}
            {{ menu_item('Projekty', path('project_list'), selectedMenuItem is same as 'projects') }}
        </ul>
    </div>
    <div class="sidenav-footer position-absolute w-100 bottom-0 ">
        <div class="mx-3">
            <a class="btn btn-outline-dark mt-4 w-100" href="#" type="button">Test 1</a>
            <a class="btn bg-gradient-dark w-100" href="#" type="button">Test 2</a>
        </div>
    </div>
</aside>