{% extends "base.html.twig" %}

{% from '/common/macros/breadcrums.html.twig' import breadcrumbs %}
{% from '/common/macros/heading.html.twig' import heading %}

{% set selectedMenuItem = 'tasks' %}

{% block content %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        {{ breadcrumbs([
            { name: 'Úkoly', url: path('task_list') },
            { name: 'Nový úkol' }
        ]) }}
        <!-- End Navbar -->
        <div class="container-fluid py-2">
            <div class="row">
                <!-- heading -->
                {{ heading(
                    'Vytvoření nového úkolu',
                    ''
                ) }}
                <!-- end heading -->
                <div class="ms-3">
                    <div class="col-xl-4 mb-xl-0 mb-4">
                        <div class="card">
                            <form action="{{ path('task_create') }}" method="post">
                                <div class="p-3">
                                    <label for="name" class="p-3">Název úkolu</label>
                                    <input type="text" name="name">
                                </div>
                                <hr class="dark horizontal my-0">
                                <div class="p-3">
                                    <label for="description" class="p-3">Popis úkolu</label>
                                    <textarea name="description" id="description" cols="30" rows="10"></textarea>
                                </div>
                                <div class="p-3">
                                    <label for="project" class="p-3">Projekt</label>
                                    <select name="project">
                                        {% for project in projects %}
                                            <option value="{{ project.id }}">{{ project.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="p-3">
                                    <label for="difficulty" class="p-3">Náročnost</label>
                                    <select name="difficulty">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="5">5</option>
                                        <option value="8">8</option>
                                        <option value="13">13</option>
                                        <option value="21">21</option>
                                    </select>
                                </div>

                                <div class="p-3 d-flex flex-row-reverse">
                                    <button class="btn btn-dark-blue" type="submit">Vytvořit úkol</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}