{% extends "base.html.twig" %}

{% from '/task/macros/task_list_block.html.twig' import taskList %}
{% from '/common/macros/heading.html.twig' import heading %}
{% from '/common/macros/breadcrums.html.twig' import breadcrumbs %}

{% set selectedMenuItem = 'tasks' %}

{% block content %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        {{ breadcrumbs([
            { name: 'Úkoly', url: path('task_list') }
        ]) }}
        <!-- End Navbar -->
        <div class="container-fluid py-2">
            <div class="row">
                <!-- heading -->
                {{ heading(
                    'Úkoly ke splnění',
                    'Všechny úkoly, které je potřeba vyřešit',
                    {
                        name: 'Přidat úkol',
                        path: path('task_create'),
                    },
                    null,
                    projects,
                    project.id ?? null
                ) }}
                <!-- end heading -->
                {{ taskList(
                    'Úkoly k vyřízení',
                    backlogTasks,
                    [
                        {status: 'in_progress', name: 'Rozpracovat'},
                    ],
                    true
                ) }}
                {{ taskList(
                    'Rozpracováno',
                    inProgressTasks,
                    [
                        {status: 'done', name: 'Dokončit'},
                    ],
                    false
                ) }}
                {{ taskList(
                    'Splněné úkoly',
                    doneTasks,
                    [
                        {status: 'deleted', name: 'Odebrat'},
                        {status: 'in_progress', name: 'Reopen'},
                    ],
                    false
                ) }}
            </div>
        </div>
    </main>
{% endblock %}