{% macro monthBlock(name, transactions, totalIncome, totalExpense, totalSum) %}
    <div class="col-xl-4 mb-xl-0 my-3">
        <div class="card">
            <div class="card-header p-2 ps-3">
                <div class="d-flex justify-content-between p-3">
                    <h3 class="text-2xl mb-0">{{ name }}</h3>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            {{ _self.monthBlockRow("Celkem", totalSum, totalSum < 0 ? 'expense' : 'income') }}
            <hr class="dark horizontal my-0">
            {{ _self.monthBlockRow("Celkem příjmy", totalIncome, 'income') }}
            <hr class="dark horizontal my-0">
            {{ _self.monthBlockRow("Celkem výdaje", totalExpense, 'expense') }}
            <div class="card-header p-2 ps-3">
                <div class="d-flex justify-content-between p-3">
                    <h3 class="text-2xl mb-0">Položky:</h3>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            {% for transaction in transactions %}
                {{ _self.monthBlockRow(transaction.name, transaction.amount, transaction.type.value, transaction.date|date("d. m. Y")) }}
                <hr class="dark horizontal my-0">
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro monthBlockRow(name, amount, type, note = null) %}
    <div class="d-flex flex-column">
        <div class="px-2 py-3  ps-3 d-flex flex-row justify-content-between align-items-center">
            <div>
                <h5 class="mb-0 text-black-50">
                    {{ name }}
                </h5>
                {% if note is not null %}
                    <p class="mb-0 text-muted">{{ note }}</p>
                {% endif %}
            </div>
            {% if type is same as 'income' %}
                <h5 class="mb-0 text-dark-blue">
                    + {{ amount|abs|number_format(2, '.', ',') }}
                </h5>
            {% else %}
                <h5 class="mb-0 text-warning">
                    - {{ amount|abs|number_format(2, '.', ',') }}
                </h5>
            {% endif %}
        </div>
    </div>
{% endmacro %}
