{% macro heading(name, info, action = null, offset = null, projects = null, project_id = null) %}
    <div class="px-5 d-flex flex-row justify-content-between">
        <div>
            <h3 class="mb-0 text-4xl font-weight-bolder">{{ name }}</h3>
            <p class="mb-4">
                {{ info }}
            </p>
        </div>
        {% if offset is not null %}
            <div class="d-flex ">
                <a class="p-2 m-1 icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg text-light" href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'offset': offset-1})) }}" type="button">
                    <
                </a>
                <a class="p-2 m-1 icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg text-light" href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'offset': offset+1})) }}" type="button">
                    >
                </a>
            </div>
        {% endif %}
        {% if action is not null %}
            <div>
                <a class="btn btn-outline-dark mt-4 w-100" href="{{ action.path }}" type="button">{{ action.name }}</a>
            </div>
        {% endif %}
        {% if projects is not null %}
        <form action="" method="get">
            <label>
                Projekt:
                <select name="project_id" onchange="this.form.submit()">
                    <option value="">Všechny projekty</option>
                    {% for project in projects %}
                        {% set slected = project.id is same as project_id %}
                        <option value="{{ project.id }}" {{ slected ? "selected" : "" }}>{{ project.name }}</option>
                    {% endfor %}
                </select>
            </label>
        </form>
        {% endif %}
    </div>
{% endmacro %}