{# @var transaction  #}

{% macro monthBlock(name, transactions) %}
    <div class="col-xl-4 col-sm-6 mb-xl-0 my-3">
        <div class="card">
            <div class="card-header p-2 ps-3">
                <div class="d-flex justify-content-between p-3">
                    <h3 class="text-2xl mb-0">{{ name }}</h3>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            {% set totalIncome = 0 %}
            {% set totalExpense = 0 %}
            {% for transaction in transactions %}
                <div class="d-flex flex-column">
                    <div class="px-2 py-3  ps-3 d-flex flex-row justify-content-between align-items-center">
                        {% if transaction.type.isIncome() %}
                            <h3 class="mb-0 text-2xl text-dark-blue">
                                + {{ transaction.amount }}
                            </h3>
                            {% set totalIncome = totalIncome + transaction.amount %}
                        {% else %}
                            <h3 class="mb-0 text-2xl text-warning">
                                - {{ transaction.amount }}
                            </h3>
                            {% set totalExpense = totalExpense + transaction.amount %}
                        {% endif %}
                    </div>
                </div>
                <hr class="dark horizontal my-0">
            {% endfor %}
            celkem:
            <hr class="dark horizontal my-0">
            <h3 class="mb-0 text-2xl text-dark-blue">
                + {{ totalIncome }}
            </h3>
            <h3 class="mb-0 text-2xl text-warning">
                - {{ totalExpense }}
            </h3>
            <hr class="dark horizontal my-0">
            <h3 class="mb-0 text-2xl text-dark-blue">
                {{ totalIncome - totalExpense }}
            </h3>
        </div>
    </div>
{% endmacro %}