{% macro taskList(name, items, transitions, showCreateButton) %}
    <div class="col-xl-4 col-sm-6 mb-xl-0 my-3">
        <div class="card">
            <div class="card-header p-2 ps-3">
                <div class="d-flex justify-content-between p-3">
                    <h3 class="text-2xl mb-0">{{ name }}</h3>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            {% for task in items %}
                <div class="d-flex flex-column py-3">
                    <div class="p-2 ps-3 d-flex flex-row justify-content-between align-items-center">
                        <h5 class="mb-0">
                            <a href="{{ path('task_detail', {task: task.id}) }}">
                                {{ task.name }}
                            </a>
                        </h5>
                        <div class="d-flex flex-column">
                            {% for transition in transitions %}
                                <a href="{{ path('task_change_status', {'id': task.id, 'status': transition.status}) }}">{{ transition.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="p-2 ps-3 d-flex flex-row justify-content-between align-items-center">
                        <p class="mb-0 text-md">{{ task.description|nl2br }}</p>
                    </div>
                    <div class="p-2 ps-3 d-flex flex-row justify-content-end">
                        {{ task.difficulty }} bodů
                    </div>
                </div>
                <hr class="dark horizontal my-0">
            {% endfor %}
        </div>
    </div>
{% endmacro %}